.bundle/
.DS_Store
.loadpath
.project
.rvmrc
Capfile
Thumbs.db
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

db/*.sqlite3
doc/*
public/cache/**/*
tmp/*
vendor/