.bundle
.DS_Store
.loadpath
.project
.ruby-version
.rvmrc
Capfile
Thumbs.db
db/*.sqlite3
doc/*
log/*.log
pkg/
public/cache/**/*
run_tests.sh
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp
test/dummy/.sass-cache
tmp
vendor/ruby
