<p><%=t :account_created_but_not_activated_yet %></p>

<p><%=t :please_activate_it_by_clicking_the_following_link %>:</p>

<p><%= link_to t(:activation_link), activate_account_url(:activation_code => @account.activation_code) %></p>
